*{
    margin: 0;
}

body{
    width: 100%;
    height: 1600px;
    background-color: rgb(255, 255, 255);
}
nav{
    background-color: #9ace48;
    width: 100%;
    height: 20px;
    display: flex;
    padding: 10px;
    position: sticky;
    top: 0px;
    
    
}ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    list-style: none;
}.row1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}.col{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 400px;
    padding: 10px;
}.row2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.row3{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}.image{
    width: 200px;
    height:300px;
    box-shadow: 4px 3px 6px;
}h2{
    text-align: center;
}h3{
    text-align: center;
}#footer{
    width: 100%;
    height: 100px;
    background-color: #008080;
    margin-top: 100px;
    text-align: center;
    padding: 35px;
    

}button{
    width: 98px;
    height: 50px;
    border-radius: 12px;
    background-color: #9ace48;
    font-weight: bolder;

}button :hover{
    box-shadow: 10px 5px 8px;
}
#brand{

    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;

   
}#logo{
    width: 150px;
    height: 100px;
    box-shadow: 0;
}#brandname{
    color: slateblue;
    font-family: 'Fasthand', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    
}.image:hover{
    box-shadow: 10px 5px 8px;
}#price{
    display: flex;
}h4{
    text-align: center;
    text-decoration: line-through;
}.rate{
    color: #9ace48;
    display: flex;
    justify-content: space-evenly;
}.searchbar{
    width: 560px;
    height: 35px;
    padding-top: 13px;
    padding-left: 20px;
}form{
    padding-left: 30px;
}.searchbutton{
    width: 35px;
    height: 35px;
    border-radius: 0;
    background-color: white;
}.searchicon{
    width: 15px;
    height: 15px;
}.mainbar{
    align-items: baseline;
    padding-left: 0;
    display: flex;
}select{
    height: 35px;
    width: 160px;
}li:hover{
   cursor: pointer;
}